@media (min-width: 1281px) and (max-width: 1600px) {
}
@media (min-width: 1025px) and (max-width: 1280px) {
}
@media (min-width: 768px) and (max-width: 1024px) {
.carousel-captionx h1{
  font-size: 45px;
}
.carousel-captionx h2{
  font-size: 20px;
}
#servicos .card {
	min-height: 460px;
}
#servicos .card.card-has-bg {
	background-size: 290%;
}
#servicos .card.card-has-bg:hover {
	background-size: 310%;
}
#servicos .card .card-body h4.card-title{
  font-size: 25px;
}
#servicos .card .card-body p.card-text{
  font-size: 14px;
}
#historia img{
  width: 650px;
}
}
@media (min-width: 320px) and (max-width: 480px) {
.navbar{
  background: transparent;
}
.navbar .social-part{
  display: none;
}
.carousel-item {
  height: 20vh;
  min-height: 350px;
}
.carousel-caption{
  top: 85%;
}
#servicos h2{
  margin-bottom: 1em;
}
#servicos .card {
  margin: 1em 1em;
  min-height: 400px;
}
#historia img{
  width: 525px;
}
#historia h2{
  padding: 5%;
}
#historia p{
  padding: 0 5%;
}
#gfa .notice{
  margin: .5em 1em;
}
#gfa .col-md-12 .btn__yellow {
  margin-top: 1em;
}
#blog__hb .card{
  margin: 1em 1em;
}
#contato .col-md-6{
  padding: 0 3em;
}
.alm-listing .css-grid {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
}
.alm-listing .css-grid > div {
  margin-bottom: 1.5em;
  margin-right: 1em;
  margin-left: 1em;
}
.post{
  margin: 0 1em;
}
.search-wrapper.active .input-holder {
  width:250px;
}
footer .container{
  padding: 10px 20px;
}
footer .container-fluid {
  padding: 15px 20px 50px 20px;
}
footer ul.m-footer {
  text-align: center;
}
footer .col-md-4 {
  text-align: center;
}
footer img {
  margin: 10px;
}
.carousel-slider.arrows-outside .owl-nav .owl-prev {
    left: -6.5px !important;
}
.carousel-slider.arrows-outside .owl-nav .owl-next {
    right: -6.5px !important;
}
}